@import "../styles/Reset.scss";
.nav {
  color: white;
  width: 100%;
  background: no-repeat center url(../images/acrilico_toro_oscuro.jpg);
  background-size: cover;
  height: 400px;
  display: flex;
  justify-content: space-between;
  position: relative;
  .nameartist {
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 3px;
    font-weight: 400;
    padding: 10px 30px;
    a {
      color: white;
      text-shadow: 2px 2px 2px #bbb9b9;
    }
  }
  .menu-container {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    .menu-toggle {
      right: 0;
      transition: 0.25s ease-in-out;
      width: 70px;
      height: 70px;
      box-sizing: border-box;
      position: absolute;
      z-index: 1;
      cursor: pointer;
      span {
        display: block;
        background: white;
        border-radius: 2px;
      }
      .hamburger {
        position: absolute;
        height: 100%;
        width: 100%;
        span {
          width: 30px;
          height: 3px;
          position: relative;
          top: 8px;
          left: 10px;
          margin: 5px 0;
          &:nth-child(1) {
            transition-delay: 0.5s;
          }
          &:nth-child(2) {
            transition-delay: 0.625s;
          }
          &:nth-child(3) {
            transition-delay: 0.75s;
          }
        }
      }
      .cross {
        position: absolute;
        height: 100%;
        width: 100%;
        transform: rotate(45deg);
        span {
          &:nth-child(1) {
            height: 0%;
            width: 3px;
            position: absolute;
            top: 30%;
            left: 18px;
            transition-delay: 0s;
          }
          &:nth-child(2) {
            width: 0%;
            height: 3px;
            position: absolute;
            left: 6%;
            top: 35px;
            transition-delay: 0.25s;
          }
        }
      }
    }
    .menu-toggle.open {
      .hamburger {
        span {
          width: 0%;
          &:nth-child(1) {
            transition-delay: 0s;
          }
          &:nth-child(2) {
            transition-delay: 0.125s;
          }
          &:nth-child(3) {
            transition-delay: 0.25s;
          }
        }
      }
      .cross {
        span {
          &:nth-child(1) {
            height: 45%;
            transition-delay: 0.625s;
          }
        }
        span {
          &:nth-child(2) {
            width: 45%;
            transition-delay: 0.375s;
          }
        }
      }
    }
    .menu {
      padding: 70px 30px;
      height: 100%;
      background-color: #00000080;
      backdrop-filter: blur(1px);
      h3 {
        cursor: pointer;
      }
      a {
        color: white;
      }
    }
  }
}

main {
  background-color: #e3dfdf;
  padding: 2% 10% 100px;
  min-height: calc(50vh - 24px);
  h1 {
    text-transform: uppercase;
    font-size: 26px;
    letter-spacing: 3px;
  }
  h2 {
    text-transform: uppercase;
    font-size: 22px;
  }
  #biography, #exhibits {
    max-width: 1190px;
    margin: auto;
    padding-top: 30px;
  }
  #exhibits {
    .year {
      font-weight: bold;
    }
  }
  .gallery {
    text-align: center;
    padding: 20px;

    h1 {
      font-size: 2.5em;
      margin-bottom: 20px;
      color: #333;
    }

    h2 {
      font-size: 2em;
      margin-top: 40px;
      margin-bottom: 20px;
      color: #666;
    }

    .section-container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 20px;
      padding: 20px;
    }

    .each-painting {
      background: #fff;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 10px;

      &:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      }

      .painting-image {
        width: 100%;
        object-fit: cover;
        transition: transform 0.3s ease;
        flex-grow: 1;
      }

      .painting-title {
        padding: 15px;
        font-size: 1.2em;
        color: #555;
        text-align: center;
        min-height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-shrink: 0;
      }
    }
  }

  .contact {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    h2 {
      margin-bottom: 20px;
      font-size: 24px;
    }
    form {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      .form-group {
        margin-bottom: 20px;
        width: 100%;
        label {
          display: block;
          margin-bottom: 5px;
        }
        input,
        textarea {
          width: 100%;
          padding: 10px;
          font-size: 16px;
          border: 1px solid #ccc;
          border-radius: 5px;
        }
        textarea {
          height: 150px;
        }
      }
      button {
        display: block;
        width: 20%;
        padding: 10px;
        background-color: #CD2B27;
        color: #fff;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        &:hover {
          background-color: #82140D;
        }
      }
    }
  }
  .thanks {
    font-size: 26px;
    text-align: center;
    padding-top: 10%;
  }
}

footer {
  background-color: #282828;
  color: #ffffff;
  text-align: center;
  padding: 20px;
  bottom: 0;
  width: 100%;
  font-size: 14px;
  box-shadow: 0 -2px 10px #0000004d;
}

footer span {
  display: inline-block;
  margin: 0;
}

@include tablet {
  .nameartist {
    margin-left: 40px;
  }
}

@include desktop {
  .titlebackground {
    height: 50vh;
  }
  .nameartist {
    font-size: 28px;
  }
}