* {
  font-family: "Montserrat", "Open Sans", "Segoe UI", "Helvetica Neue";
}

html, body {
  margin: 0;
  overflow-x: hidden;
  height: 100%;
}

a {
  text-decoration: none;
}

@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1024px) {
    @content;
  }
}
